exclude: '(^|.*/)(package(-lock)?\.json|__pycache__|\.mypy_cache|\.venv)/'

repos:
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff
        args:
          - --fix
          - --exit-non-zero-on-fix
          - --unsafe-fixes
        files: ^src/backend/

  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black
        files: ^src/backend/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        args:
          - --check-untyped-defs
          - --ignore-missing-imports
          - --install-types
          - --non-interactive
          - --scripts-are-modules
          - --warn-unused-ignores
        stages:
          - manual
        files: ^src/backend/

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
